db.sqlite3
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
syndo/svindovender-71cf8-firebase-adminsdk-fbsvc-49dc54f6e3.json
media
.env
# Ignore wsgi.py
syndo/wsgi.py

# Logs
logs/
*.log

*.json
# Runtime logs
logs/
*.log
