{% extends "partials/adminBase.html" %}
{% load static %}

{% block title %}Create Category{% endblock title %}
{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Delivery Settings</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-container">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.instant_order_prep_time.label_tag }} {{ form.instant_order_prep_time }}
                        </div>
                        <div class="mb-3">
                            {{ form.general_delivery_days.label_tag }} {{ form.general_delivery_days }}
                        </div>
                        <div class="mb-3">
                            {{ form.delivery_charge_per_km.label_tag }} {{ form.delivery_charge_per_km }}
                        </div>
                        <div class="mb-3">
                            {{ form.minimum_base_fare.label_tag }} {{ form.minimum_base_fare }}
                        </div>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
