{% extends "partials/adminBase.html" %}
{% load static %}

{% block title %}Create Category{% endblock title %}
{% block content %}

<div class="container py-4">
    <h4 class="fw-bold mb-4">Delivery Management</h4>
    <div class="list-group">
        <a href="{% url 'assign_instant_delivery' %}" class="list-group-item list-group-item-action">Assign Instant delivery to partners</a>
        <a href="{% url 'manage_delivery_boy' %}" class="list-group-item list-group-item-action">Assign Own Delivery Boy</a>
        <a href="{% url 'shiprocket_general_delivery' %}" class="list-group-item list-group-item-action">ShipRocket for General Delivery</a>
        <a href="{% url 'delivery_settings' %}" class="list-group-item list-group-item-action">Delivery settings</a>
    </div>
</div>
{% endblock %}
